// Fonts 
$bold: 600; 
$size1rem: 1rem; // 16px
$size087rem: 0.875rem; // 14px
$size075rem: 0.75rem; // 12px
$mainFont: "Roboto", sans-serif;

// Colors 
$white: #fff;
$white-1: #ededed;
$white-2: #dddcdc;

$gray-2: #8f8b8b; 
$gray-3: #666666;
$black: #000;

$blue-1: #008ecc;
$blue-2: #2b32dc;
$green-price: #249b3e;


// @media queries 
$mobile: 767px;
$tablet: 991px;
$largeMobile: 992px;
$smallDesktop: 1199px;
$largeDesktop: 1200px;
